<!-- index.ejs -->
<div class="container-fluid">
  <h1 class="mt-4">Movies Ranked</h1>
  <ol class="custom-list">
    <% for (var i = 0; i < movies.length; i++) { %>
      <li>
        <span class="name"><strong><%= movies[i].movie + ': ' %></strong></span>
        <span class="number"><%= movies[i].rating + '/10' %></span>
      </li>
    <% } %>
  </ol>
</div>
